%li{:id => "status_#{status.id}"}
  %p
    =status.status
  %span.meta
    -if status.published_at
      =link_to time_ago_in_words_with_word(status.published_at), "http://twitter.com/growingshed/status/" + status.twitter_id.to_s
    -else 
      = "trickling in #{distance_of_time_in_words(Time.now, status.scheduled_at)}"
      
  -if !status.published_at
    %ul.actions
      %li.jump-queue
        = form_for status do |f|
          = f.hidden_field :jump_queue, :value => true
          = f.submit 'Jump the queue!'
      %li.edit
        = link_to 'Edit', edit_status_path(status), :class => "edit-status", :rel => "#modal-edit", :title => "Edit"
      %li.delete
        = button_to 'Destroy', status, :method => :delete, :title => "Delete"
