%li{:id => "status_#{status.id}", :class => 'secondary-container'}
  %p
    =status.status
  .meta.clearfix
    %em.ttp
      = "trickling in #{distance_of_time_in_words(Time.now, status.scheduled_at)}"
    -if !status.published_at
      %ul.actions
        %li.edit
          = link_to 'Edit', edit_status_path(status), :class => "icon edit edit-status", :rel => "#modal-edit", :title => "Edit"
        %li.jump-queue
          = form_for [:publish, status] do |f|
            = f.submit 'Publish now', 
              :confirm => 'Are you sure? Your status will be published',
              :class => 'icon jump-q'
        %li.delete
          = button_to 'Destroy',
            status,
            :method => :delete,
            :title => "Delete",
            :confirm => 'Are you sure you want to delete?',
            :class => 'icon delete'
